*{
    /*border: 1px solid red;*/
}
.title-top{
    border-bottom: 2px solid black;
}
.title-group-one>span{
    display: block;
    font-size: 33px;
    font-weight: 600;
    margin: 20px 0;
}
.right-all{
    border-left: 2px solid #999999;
}
.group-input>input{
    display: block;
    line-height: 30px;
    width: 100%;
}
.group-submit{
    width: 90%;
    line-height: 30px;
}
.main-group-all{
    margin-top: 30px;
}
.right-display-all{
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom:2px solid black;
}
.group-right-input-one{
    border: none;
}
.right-display-all a{
    color: deepskyblue;
}
.right-display-all a:hover{
    color: blue;
    text-decoration: none;
}