<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/lg/assets/images/favicon.png" type="image/png">
  <title></title>

    <link href="/static/lg/assets/plugins/vector-map/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="/static/lg/assets/css/icons.css" rel="stylesheet">
    <link href="/static/lg/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lg/assets/css/style.css" rel="stylesheet">
    <link href="/static/lg/assets/css/responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

        <style>
		.layui-btn{
			background-color: #5fb878;
		}
		.label{
		    padding: 2px 5px;
		    background: #5FB878;
		    border-radius: 2px;
		    color: #fff;
		    display: block;
		    line-height: 20px;
		    height: 20px;
		    margin: 2px 5px 2px 0;
		    float: left;
		}
		i{
			display: inline-block;
		    width: 18px;
		    height: 18px;
		    line-height: 18px;
		    text-align: center
		}
		.label:hover{color: white;}
		.label i:hover {
			 background-color: #009E94;
			 border-radius: 2px;
		}
		.layui-form-select dl dd:hover {
			background-color: #5FB878;
			color: white;
		}
		.AD{
			width: 210px;
		    margin-left: 40px;
		    overflow-y: auto;
		    max-height: 200px;
		    border: 2px solid #5fb878;
    		border-radius: 6px;
    		padding: 1px 2px;
		}
	</style>
    <style>
    select{
        border: #c5bebe solid 1px;
        width: 150px;
        height: 30px;
        text-align: center;
        font-size: 17px
    }

{#    .col-md-10 {#}
{#width: 610px;#}
{#min-height: 26px;#}
{#line-height: 20px;#}
{#_height: 30px;#}
{#/* max-height: 150px;*/#}
{#margin-left: auto;#}
{#margin-right: auto;#}
{#padding: 3px;#}
{#outline: 0;#}
{#border: 1px solid #ccc;#}
{#font-size: 12px;#}
{#word-wrap: break-word;#}
{#overflow-x: hidden;#}
{#overflow-y: auto;#}
{#-webkit-user-modify: read-write-plaintext-only;#}
{#border-radius: 4px;#}
{#}#}
</style>
</head>

<body class="sticky-header">


    <!--Start left side Menu-->
     <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="/teacher_manage/"><img src="/static/lg/assets/images/logo.jpg" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="/teacher_manage/"><img src="/static/lg/assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="/"><i class="icon-home"></i> <span>首页</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/"> 获取到的权限</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-layers"></i> <span>本学期剩余课程</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/my_course.html"> 一年级一班</a></li>

                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-grid"></i> <span>工作任务</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="/teacher_manage/table-static.html"> 日工作任务</a></li>
                        <li><a href="/teacher_manage/table-responsive.html">周工作任务</a></li>
                        <li><a href="/teacher_manage/table-datatable.html">月工作任务</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-envelope-open"></i> <span>通知公告</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/inbox.html"> 所有通知</a></li>
                        <li><a href="/teacher_manage/message-view.html"> 发送通知</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-loop"></i> <span>部门人员</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/form-validation.html"> 添加人员</a></li>
                        <li><a href="/teacher_manage/form-xeditable.html">所有人员</a></li>
                    </ul>
                </li>





                <li><a href="/teacher_manage/course_info.html"><i class="icon-note"></i> <span>今日课表</span></a></li>

                <li class="menu-list"><a href="#"><i class="icon-pie-chart"></i> <span>成绩录入</span></a>
                    <ul class="sub-menu-list">
                    <li><a href="/teacher_manage/flot-chart.html"> 一年级一班</a></li>
                    </ul>
                </li>
                <li class="menu-list nav-active"><a href="#"><i class="icon-location-pin"></i> <span>考勤</span></a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="/teacher_manage/check-day.html"> 今日考勤</a></li>
                        <li><a href="/teacher_manage/check-week.html"> 本周考勤</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-folder"></i> <span>信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/user_info.html"> 个人信息管理</a></li>
                        <li><a href="/teacher_manage/dashboard2.html"> 班级信息管理</a></li>

                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-lock"></i> <span>登录</span></a>
                    <ul class="sub-menu-list">
                       <li><a href="/"> 切换用户 </a></li>
                        <li><a href="/teacher_manage/unlocked.html"> 锁定界面 </a></li>
                    </ul>
                </li>
{#                <li><a href="widget.html"><i class="icon-wrench"></i> <span>设置</span></a></li>#}

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->

    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="在此搜索..." />
            </form>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">


                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">消息列表</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="{% static '/lg/assets/images/users/avatar-8.jpg' %}" class="img-circle" alt="img"></span>
                              <span class="subject">{{tea.username}}</span>
                              <span class="message"> 新消息待处理</span>
                               <span class="time">15分钟之前</span>
                          </a>


						</li>
						<li class="last"> <a  href="#">全部消息</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/static/lg/assets/images/users/avatar-6.jpg" alt="" />
                            {{tea.username}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> 设置 </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> 我的 </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> 帮助 </a> </li>
                          <li> <a href="logout"> <i class="fa fa-lock"></i> 注销登陆 </a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->



        <!--body wrapper start-->
        <div class="wrapper">
              
          <!--Start Page Title-->
           <div class="page-title-box">
                <h4 class="page-title">考勤</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">考勤</a>
                    </li>

                    <li class="active">
                        今日考勤
                    </li>
                </ol>
                <div class="clearfix"></div>
             </div>
              <!--End Page Title-->          
           
           <div class="white-box">
                            <div class="mailbox-content">

                             <div class="mailbox-header">
                                  <div class="compose-options">
                                        <div class="pull-right">
                                        </div>
                                 </div>
                            </div>

                                <div class="compose-body">
                                    <form class="row">
                                        <div class="form-group">
                                            <label for="to" class="col-md-2 control-label">系部/班级</label>
                                            <div class="col-md-10">
{#                                                <input type="text" class="form-control" id="to">#}
                                                <select>
		<option value="" selected="selected">汽车系</option>
		<option value="一月">计算机系</option>
		<option value="二月">管理学</option>
		<option value="三月">飞行系</option>
		<option value="四月">土木工程</option>

	</select>
                                                <select>
		<option value="" selected="selected">对应班级</option>
		<option value="">对应班级</option>
		<option value="">对应班级</option>
		<option value="">对应班级</option>
		<option value="">对应班级</option>
		<option value="">对应班级</option>

	</select>



                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject" class="col-md-2 control-label">标题</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="subject">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                        </div>
                                        <div class="form-group">
                                            <label for="subject" class="col-md-2 control-label">内容</label>
                                            <div contenteditable="true" class="col-md-10" style="border: #03b4ff solid 1px; min-height: 200px" id="content"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="compose-message">
                                    <div class="summernote"></div>
                                </div>
                                <div class="compose-options">
                                    <div class="pull-right">
                                        <a href="inbox.html" class="btn btn-primary"><i class="fa fa-send"></i> 发布</a>
                                    </div>
                                </div>
                            </div>
                        </div>
           <!--Start row-->

           <!--End row-->
                      
		</div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main"><a target="_blank" href="http://www.17sucai.com/"></a></footer>
         <!--End footer -->

       </div>
      <!--End main content -->
    


    <!--Begin core plugin -->
    <script src="/static/lg/assets/js/jquery.min.js"></script>
    <script src="/static/lg/assets/js/bootstrap.min.js"></script>
    <script src="/static/lg/assets/plugins/moment/moment.js"></script>
    <script  src="/static/lg/assets/js/jquery.slimscroll.js "></script>
    <script src="/static/lg/assets/js/jquery.nicescroll.js"></script>
    <script src="/static/lg/assets/js/functions.js"></script>
    <!-- End core plugin -->
    
    <!--Begin Page Level Plugin-->
     <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/static/lg/assets/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <script src="/static/lg/assets/pages/gmap-customs.js" type="text/javascript"></script>
    <!--End Page Level Plugin-->

</body>

</html>
