<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/lg/assets/images/favicon.png" type="image/png">
  <title></title>
   <link href="/static/lg/assets/css/icons.css" rel="stylesheet">
    <link href="/static/lg/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lg/assets/css/style.css" rel="stylesheet">
    <link href="/static/lg/assets/css/responsive.css" rel="stylesheet">
    <script src="/static/jquery-1.11.3.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        td,th{
            text-align: center;
        }
    </style>

    <script>

        $(function () {
    $("#send_inform").click(function () {
        $.ajax({
            url: "/teacher_manage/inbox.html?send=true",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $("#show").html("当前显示"+data.length+'条');
                html = '';for (var i = 0; i < data.length; i++) {
                    inform = data[i];
                    html += '<tr class="unread">';
                    html += '<td class="hidden-xs">\n' +
                        '<div class="checkbox">\n' +
                        '<input type="checkbox" class="checkbox-mail" >\n' +
                        '<label></label>\n' +
                        '</div>\n' +
                        '</td>';
                    html += '<td class="hidden-xs">\n' +
                        '<i class="fa fa-star icon-state-warning"></i>\n' +
                        '</td>';

                    html += '<td class="hidden-xs">';
                    html += inform['send_from_dpt'];
                    html += '</td class="hidden-xs">';
                    html += '<td class="hidden-xs">' +  inform["send_from_tea"]+ '</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_dpt']+'</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_tea']+'</td>';
                    html += '<td class="hidden-xs">' + inform['title'] + '</td>';
                    html += '<td class="hidden-xs">' + inform['times'] + '</td>';
                    html += '</tr>'
                }$("#send").html(html);
            }
        })
    });
    $("#form_inform").click(function () {
        $.ajax({
            url: "/teacher_manage/inbox.html?form=true",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#show").html("当前显示"+data.length+'条');
                console.log(data);
                html = '';for (var i = 0; i < data.length; i++) {
                    inform = data[i];
                    html += '<tr class="unread">';
                    html += '<td class="hidden-xs">\n' +
                        '<div class="checkbox">\n' +
                        '<input type="checkbox" class="checkbox-mail" >\n' +
                        '<label></label>\n' +
                        '</div>\n' +
                        '</td>';
                    html += '<td class="hidden-xs">\n' +
                        '<i class="fa fa-star icon-state-warning"></i>\n' +
                        '</td>';

                    html += '<td class="hidden-xs">';
                    html += inform['send_from_dpt'];
                    html += '</td class="hidden-xs">';
                    html += '<td class="hidden-xs">' +  inform["send_from_tea"]+ '</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_dpt']+'</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_tea']+'</td>';
                    html += '<td class="hidden-xs">' + inform['title'] + '</td>';
                    html += '<td class="hidden-xs">' + inform['times'] + '</td>';
                    html += '</tr>'
                }$("#send").html(html)
            }
        })
    });
    $("#all").click(function () {
        $.ajax({
            url: "/teacher_manage/inbox.html?all=true",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#show").html("当前显示"+data.length+'条');
                console.log(data);
                html = '';for (var i = 0; i < data.length; i++) {
                    inform = data[i];
                    html += '<tr class="unread">';
                    html += '<td class="hidden-xs">\n' +
                        '<div class="checkbox">\n' +
                        '<input type="checkbox" class="checkbox-mail" >\n' +
                        '<label></label>\n' +
                        '</div>\n' +
                        '</td>';
                    html += '<td class="hidden-xs">\n' +
                        '<i class="fa fa-star icon-state-warning"></i>\n' +
                        '</td>';

                    html += '<td class="hidden-xs">';
                    html += inform['send_from_dpt'];
                    html += '</td class="hidden-xs">';
                    html += '<td class="hidden-xs">' +  inform["send_from_tea"]+ '</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_dpt']+'</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_tea']+'</td>';
                    html += '<td class="hidden-xs">' + inform['title'] + '</td>';
                    html += '<td class="hidden-xs">' + inform['times'] + '</td>';
                    html += '</tr>'
                }$("#send").html(html)
            }
        })
    });
    $("#dustbin").click(function () {
        $.ajax({
            url: "/teacher_manage/inbox.html?dustbin=true",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#show").html("当前显示"+data.length+'条');
                console.log(data);
                html = '';for (var i = 0; i < data.length; i++) {
                    inform = data[i];
                    html += '<tr class="unread">';
                    html += '<td class="hidden-xs">\n' +
                        '<div class="checkbox">\n' +
                        '<input type="checkbox" class="checkbox-mail" >\n' +
                        '<label></label>\n' +
                        '</div>\n' +
                        '</td>';
                    html += '<td class="hidden-xs">\n' +
                        '<i class="fa fa-star icon-state-warning"></i>\n' +
                        '</td>';

                    html += '<td class="hidden-xs">';
                    html += inform['send_from_dpt'];
                    html += '</td class="hidden-xs">';
                    html += '<td class="hidden-xs">' +  inform["send_from_tea"]+ '</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_dpt']+'</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_tea']+'</td>';
                    html += '<td class="hidden-xs">' + inform['title'] + '</td>';
                    html += '<td class="hidden-xs">' + inform['times'] + '</td>';
                    html += '</tr>'
                }$("#send").html(html)
            }
        })
    });

});

        $(function () {
    $.ajax({
            url: "/teacher_manage/inbox.html?all=true",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                $("#show").html("当前显示"+data.length+'条');
                html = '';for (var i = 0; i < data.length; i++) {
                    inform = data[i];
                    html += '<tr class="unread">';
                    html += '<td class="hidden-xs">\n' +
                        '<div class="checkbox">\n' +
                        '<input type="checkbox" class="checkbox-mail" >\n' +
                        '<label></label>\n' +
                        '</div>\n' +
                        '</td>';
                    html += '<td class="hidden-xs">\n' +
                        '<i class="fa fa-star icon-state-warning"></i>\n' +
                        '</td>';

                    html += '<td class="hidden-xs">';
                    html += inform['send_from_dpt'];
                    html += '</td class="hidden-xs">';
                    html += '<td class="hidden-xs">' +  inform["send_from_tea"]+ '</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_dpt']+'</td>';
                    html += '<td class="hidden-xs">'+inform['send_to_tea']+'</td>';
                    html += '<td class="hidden-xs">' + inform['title'] + '</td>';
                    html += '<td class="hidden-xs">' + inform['times'] + '</td>';
                    html += '</tr>'
                }$("#send").html(html)
            }
        })
});

    </script>

</head>

<body class="sticky-header">


    <!--Start left side Menu-->
     <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="/"><img src="/static/lg/assets/images/logo.jpg" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="/"><img src="/static/lg/assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="/teacher_manage/"><i class="icon-home"></i> <span>首页</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/"> 获取到的权限</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-layers"></i> <span>本学期剩余课程</span></a>
                    <ul class="sub-menu-list">
                        {% for i in grade_list %}
                            <li><a href="/teacher_manage/flot-chart.html"> {{ i }}</a></li>
                        {% endfor %}

                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-grid"></i> <span>工作任务</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="/teacher_manage/table-static.html"> 日工作任务</a></li>
                        <li><a href="/teacher_manage/table-responsive.html">周工作任务</a></li>
                        <li><a href="/teacher_manage/table-datatable.html">月工作任务</a></li>
                    </ul>
                </li>

                <li class="menu-list nav-active"><a href="#"><i class="icon-envelope-open"></i> <span>通知公告</span></a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="/teacher_manage/inbox.html"> 所有通知</a></li>
                        <li><a href="/teacher_manage/compose.html"> 发送通知</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-loop"></i> <span>部门人员</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/form-xeditable.html">所有人员</a></li>
                    </ul>
                </li>





                <li><a href="course_info.html"><i class="icon-note"></i> <span>今日课表</span></a></li>

                <li class="menu-list"><a href="#"><i class="icon-pie-chart"></i> <span>成绩录入</span></a>
                    <ul class="sub-menu-list">
                    {% for i in grade_list %}
                            <li><a href="/teacher_manage/flot-chart.html"> {{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-location-pin"></i> <span>考勤</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/check-day.html"> 今日考勤</a></li>
                        <li><a href="/teacher_manage/check-week.html"> 本周考勤</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-folder"></i> <span>信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/user_info.html"> 个人信息管理</a></li>
                        <li><a href="/teacher_manage/dashboard2.html"> 班级信息管理</a></li>

                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-lock"></i> <span>登录</span></a>
                    <ul class="sub-menu-list">
                       <li><a href="/"> 切换用户 </a></li>
                        <li><a href="/teacher_manage/unlocked.html"> 锁定界面 </a></li>
                    </ul>
                </li>
                <li><a href="/teacher_manage/widget.html"><i class="icon-wrench"></i> <span>设置</span></a></li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->


    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="在此搜索" />
            </form>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">


                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">消息列表</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="{% static '/lg/assets/images/users/avatar-8.jpg' %}" class="img-circle" alt="img"></span>
                              <span class="subject">{{tea.username}}</span>
                              <span class="message"> 新消息待处理</span>
                               <span class="time">15分钟之前</span>
                          </a>


						</li>
						<li class="last"> <a  href="#">全部消息</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/static/lg/assets/images/users/avatar-6.jpg" alt="" />
                            {{tea.username}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> 设置 </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> 我的 </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> 帮助 </a> </li>
                          <li> <a href="/logout"> <i class="fa fa-lock"></i> 注销登陆 </a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

              <!--Start Page Title-->
               <div class="page-title-box">
                    <h4 class="page-title">通知公告</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">通知公告</a>
                        </li>
                        <li>
                            <a href="#">接收到的通知</a>
                        </li>
                        <li class="active">
                            显示全部
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                 </div>
                  <!--End Page Title-->


                  <!--Start row-->
                  <div class="row">
                      <div class="col-md-12">

                          <div class="row">
                          <div class="col-md-3">
                              <ul class="list-unstyled mailbox-nav">
                                <li class="active"><a href="javascript:void(0);" id="all"><i class="fa fa-inbox"></i>所有通知
                                </a></li>
                                <li><a href="javascript:void(0);" id="send_inform"><i class="fa fa-sign-out"></i>发件箱</a></li>
                                <li><a href="javascript:void(0);" id="form_inform"><i class="fa fa-file-text-o"></i>收件箱</a></li>
                                <li><a href="javascript:void(0);" id="dustbin"><i class="fa fa-trash m-r-5"></i>垃圾箱</a></li>
                              </ul>
                        </div>

                         <div class="col-md-9">
                         <div class="white-box">
                            <div class="mailbox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="1" class="hidden-xs">
                                          <div class="checkbox">
                                             <input type="checkbox" class="check-mail-all">
                                              <label></label>
                                            </div>
                                        </th>
                                        <th colspan="1" class="hidden-xs">  </th>
                                        <th colspan="1" class="hidden-xs"> 发送部门 </th>
                                        <th colspan="1" class="hidden-xs"> 发送教师 </th>
                                        <th colspan="1" class="hidden-xs"> 接收部门 </th>
                                        <th colspan="1" class="hidden-xs"> 接收教师 </th>
                                        <th colspan="1" class="hidden-xs"> 标  题 </th>
                                        <th colspan="1" class="hidden-xs"> 时  间 </th>
                                    </tr>
                                </thead>
                                <tbody id="send">

                                </tbody>
                            </table>
                            </div>

                            <div class="col-md-12">
                             <div class="row">
                              <div class="col-md-7" id="show">  </div>
                              <div class="col-md-5">
                                <div class="btn-group pull-right">
                                  <button type="button" class="btn btn-primary outline-btn m-r-5"><i class="fa fa-angle-left"></i></button>
                                  <button type="button" class="btn btn-primary outline-btn"><i class="fa fa-angle-right"></i></button>
                                </div>
                              </div>
                            </div>
                            </div>

                        </div>
                        </div>
                      </div>
                      </div>
                  </div>
                  <!--End row-->


            </div>
      <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main"><a target="_blank" href="#"></a></footer>
         <!--End footer -->

       </div>
      <!--End main content -->



    <!--Begin core plugin -->
    <script src="/static/lg/assets/js/jquery.min.js"></script>
    <script src="/static/lg/assets/js/bootstrap.min.js"></script>
    <script src="/static/lg/assets/plugins/moment/moment.js"></script>
    <script  src="/static/lg/assets/js/jquery.slimscroll.js "></script>
    <script src="/static/lg/assets/js/jquery.nicescroll.js"></script>
    <script src="/static/lg/assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/static/lg/assets/pages/inbox.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

</body>

</html>
