<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/lg/assets/images/favicon.png" type="image/png">
  <title></title>
    <link href="/static/lg/assets/css/icons.css" rel="stylesheet">
    <link href="/static/lg/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lg/assets/css/style.css" rel="stylesheet">
    <link href="/static/lg/assets/css/responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

    <script>
        $(function () {
            $('#grade').click(function () {
                $.get("/teacher_manage/my_course.html?id={{ i.id }}")
            })
        })
    </script>


</head>

<body class="sticky-header">


    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="/static/lg/assets/images/logo.jpg" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="/static/lg/assets/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href="/teacher_manage/"><i class="icon-home"></i> <span>首页</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage"> 获取到的权限</a></li>

                    </ul>
                </li>

                <li class="menu-list  nav-active"><a href="#"><i class="icon-layers"></i> <span>本学期剩余课程</span></a>
                    <ul class="sub-menu-list">
                        {% for i in grade_list %}
                        <li class="active"><a href="/teacher_manage/my_course.html?id={{ i.id }}" id="grade"> {{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-grid"></i> <span>工作安排</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/table-static.html"> 日工作安排</a></li>
                        <li><a href="/teacher_manage/table-responsive.html">周工作安排</a></li>
                        <li><a href="/teacher_manage/table-datatable.html">月工作安排</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-envelope-open"></i> <span>通知公告</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/inbox.html"> 所有通知</a></li>
                        <li><a href="/teacher_manage/compose.html"> 发送通知</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-loop"></i> <span>部门人员</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/form-xeditable.html">所有人员</a></li>
                    </ul>
                </li>





                <li><a href="/teacher_manage/course_info.html"><i class="icon-note"></i> <span>今日课表</span></a></li>


                <li class="menu-list"><a href="#"><i class="icon-pie-chart"></i> <span>成绩录入</span></a>
                    <ul class="sub-menu-list">
                        {% for i in grade_list %}
                            <li><a href="/teacher_manage/flot-chart.html"> {{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-location-pin"></i> <span>考勤</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/check_day.html"> 今日考勤</a></li>
                        <li><a href="/teacher_manage/check_week.html"> 本周考勤</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-folder"></i> <span>档案管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/teacher_manage/user_info.html"> 个人档案管理</a></li>
                        <li><a href="/teacher_manage/dashboard2.html"> 班级管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="icon-lock"></i> <span>账户管理</span></a>
                    <ul class="sub-menu-list">
                       <li><a href="/login.html"> 切换用户 </a></li>

                        <li><a href="/teacher_manage/unlocked.html"> 锁定操作 </a></li>
                    </ul>
                </li>
                <li><a href="/teacher_manage/widget.html"><i class="icon-wrench"></i> <span>设置</span></a></li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->
    
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="在此搜索" />
            </form>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">


                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">消息列表</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="{% static '/lg/assets/images/users/avatar-8.jpg' %}" class="img-circle" alt="img"></span>
                              <span class="subject">{{tea.username}}</span>
                              <span class="message"> 新消息待处理</span>
                               <span class="time">15分钟之前</span>
                          </a>


						</li>
						<li class="last"> <a  href="#">全部消息</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static '/lg/assets/images/users/avatar-6.jpg' %}" alt="" />
                            {{ tea.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> 账户设置 </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> 账户信息 </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> 帮助 </a> </li>
                          <li> <a href="/logout" > <i class="fa fa-lock" id="loguot"></i> 注销登陆 </a> </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->


        <!--body wrapper start-->
        <div class="wrapper">

          <!--Start Page Title-->
           <div class="page-title-box">
                <h4 class="page-title">本学期剩余课程 </h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="/teacher_manage/my_course.html">学期剩余课程</a>
                    </li>

                    <li class="active">
                        {{ grade }}
                    </li>
                </ol>
                <div class="clearfix"></div>
             </div>
              <!--End Page Title-->

                 <!--Start row-->
                 <div class="row">
                     <div class="container">
                         <div class="analytics-box">

                         </div>
                     </div>
                 </div>
                 <!--End row-->

                  <!--Start row-->
                  <div class="row">
                   <!--Start info box-->
                      {% for cou in course %}
                   <div class="col-md-3 col-sm-6">
                       <div class="info-box-main">
                          <div class="info-stats">
                              <p style="text-align: center">{{ cou }}</p>
                              <span>  </span>
                              <br>
                          </div>

                          <div class="info-box-progress">
                             <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%; background: black">
                             </div>
                          </div>
                          </div>
                       </div>
                   </div>
                   <!--End info box-->
                      {% endfor %}
                   <!--Start info box-->

                   <!--End info box-->

                  </div>
                  <!--End row-->



                <!--Start row-->

			    </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main"><a target="_blank" href="#"></a></footer>
         <!--End footer -->

       </div>
      <!--End main content -->
    


    <!--Begin core plugin -->
    <script src="/static/lg/assets/js/jquery.min.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script src="/static/lg/assets/js/bootstrap.min.js"></script>
    <script src="/static/lg/assets/plugins/moment/moment.js"></script>
    <script  src="/static/lg/assets/js/jquery.slimscroll.js "></script>
    <script src="/static/lg/assets/js/jquery.nicescroll.js"></script>
    <script src="/static/lg/assets/js/functions.js"></script>
    <!-- End core plugin -->

</body>

</html>
