{% extends 'back_manage_index.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static 'back_manage_group/css/back_manage_group.css' %}">
{% endblock %}


{% block do_something %}
  <div class="row">
    <div class="row">
      <div class="col-md-offset-1 col-md-11 title-group-one">
        <span>用户组管理</span>
      </div>
    </div>
  </div>
  <hr style="color: #999999;">
{#  操作界面#}
  <div class="row main-group-all">
{#    增加用户组#}
    <div class="col-md-4">
      <form action="/back_manage/group_manage/" method="post">
        {% if group %}
          <div class="col-md-8">
            <div class="col-md-12 group-input">{{ group.groupName }}</div>
            <div class="col-md-12 group-input">{{ group.errors }}</div>
          </div>
        <div class="col-md-4">
          <input class="group-submit" type="submit" value="增加用户组" name="add">
        </div>
        {% endif %}
        {% csrf_token %}
      </form>
    </div>
{#    显示区域#}
    <div class="col-md-offset-1 col-md-6 right-all">

{#      如果是第一次进来显示所有的用户#}
      {% if group_list %}
        {% for foo in group_list %}
          <div class="row">
            <div class="col-md-offset-1 col-md-10 right-display-all">
              <div class="row">
                <div class="col-md-6"><input class="group-right-input-one" type="text" readonly name="groupName" value="{{ foo.groupName }}"></div>
                <div class="col-md-3"><a href="/back_manage/group_manage/?gid={{ foo.id }}&name=delete">删除用户组</a></div>
                <div class="col-md-3"><a href="/back_manage/group_manage/?gid={{ foo.id }}&name=update">修改用户组</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
      {% endif %}

{#      如果是更新进来，显示需要更新的用户组信息#}
      <form action="/back_manage/group_manage/" method="post" b>
        {% if group_update %}
           <input type="text" name="groupName" placeholder="{{ group_update.groupName }}">
            <input type="hidden" name="gid" value="{{ group_update.id }}">
            <input type="submit" value="确定修改" name="update">
        {% endif %}
        {% csrf_token %}
      </form>

    </div>

  </div>

{% endblock %}