{% extends 'one_select.html' %}

{% load staticfiles %}

{% block operation_name %}

{% endblock %}

{% block user_operation %}

{% endblock %}

{% block have_operation %}
{#  <input class="center-block" style="display: none" name="tid" type="text" value="{{ obj_lst.0 }}">#}
{#  <input class="center-block" name="caption" type="text" value="{{ obj_lst.1 }}">#}
{#  <input class="center-block" name="tableName" type="text" value="{{ obj_lst.2 }}">#}
{#  <input class="center-block" name="res" type="submit" value="确定更新">#}


{% endblock %}