{% extends 'back_manage_index.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static 'group/css/group.css' %}">

{% endblock %}


{% block do_something %}
  <div class="row title-top">
    <div class="row">
      <div class="col-md-offset-1 col-md-11 title-group-one">
        <span>{% block manage_name %}用户管理{% endblock %}</span>
      </div>
    </div>
  </div>

  <div class="row">
{#    左边主界面#}
    <div class="col-md-4 left-main">
      <table>
        <tr>
          <td><label for="user"><a class="query-user" href="#">查询用户</a></label></td>
          <td><input onchange="add_url_query_user()" id="user" type="text" name="user"></td>
        </tr>
        <tr>
          <td>查询结果</td>
        </tr>
        <tr>
          <td>用户名</td>
          <td><span>{{ user_mes.0 }}</span></td>
        </tr>
        <tr>
          <td>电话</td>
          <td><span>{{ user_mes.1 }}</span></td>
        </tr>
        <tr>
          <td>编号</td>
          <td><span>{{ user_mes.2 }}</span></td>
        </tr>
        <tr>
          <td><a href="?query=update_user&user={{ user_mes.0 }}">确定将用户转为教师</a></td>
        </tr>
      </table>
    </div>

{#    右边主界面#}
    <div class="col-md-8 right-main"></div>
  </div>


{% endblock %}

{% block script_block %}
{#    <script src="{% static 'user/user_js.js' %}"></script>#}
  <script>
    function add_url_query_user() {
        let a = $('.query-user');
        let query_value = $('#user').val();
        console.log(query_value);
        a.attr(
            'href', '?query=user&user=' + query_value
        )
    }
  </script>
{% endblock %}