.main-all{
  margin-top: 40px;
  margin-bottom: 40px;
  border-right: 3px solid #bfc9d2;
}
.major-all{
  border: 2px solid #bfc9d2;
  border-radius: 5px;
  margin: 10px 0;
}
.major-caption{
  font-size: 22px;
}
.major-select{
  margin-bottom: 10px;
  width: 80%;
  font-size: 16px;
  background-color: #dfeffe;
  /*background-color: red;*/
}
/*.major-many{*/
/*    background-color: #dfeffe;*/
/*}*/
.return-one{
  display: block;
  width: 100%;
  line-height: 35px;
  font-size: 22px;
  text-decoration: none;
  color: #3884ce;
  text-align: center;
}
.top{
  margin-top: 50px;
}
.img-one{
  width: 100%;
  height: 35px;
}
.major-img{
  /*max-width:70px;*/
  /*max-height:70px;*/
  margin-top:10px;
  margin-bottom:10px;
}
.span-all{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid #bfc9d2;
}
.major-selected{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #d6e1ea;
    color: black;
}
.result-one{
    margin-top: 30px;
}
