<!DOCTYPE html>
<html lang="zh-en">
{% load staticfiles %}
<head>
  <meta charset='utf-8'> <!-- 声明文档使用的字符编码 -->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> &lt;!&ndash; 优先使用 IE 最新版本和 Chrome &ndash;&gt;-->
  <meta name="description" content="不超过150个字符"/> <!-- 页面描述 -->
  <meta name="keywords" content=""/> <!-- 页面关键词 -->
  <meta name="author" content="Paul, 287618817@qq.com"/> <!-- 网页作者 -->
  <meta name="robots" content="index,follow"/> <!-- 搜索引擎抓取 -->
<!--  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">-->
  <title>Title</title>

  <!--    核心文件-->
  <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
  <!--  引入jquery文件-->
  <script src="{% static 'jquery-3.3.1.js' %}"></script>
  <!--    引入bootstrap js文件-->
  <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'register_one/css/register_one.css' %}">
  <style>
    *{
      {#border: 1px solid blue;#}
    }
  </style>
</head>
<body>
<form class="" action="/register_one/" method="post">
<div class="container">
  <div class="row top">
      <div class="col-md-offset-2 col-md-8">
        <img class="img-responsive img-one" src="{% static 'register_one/image/img-01.png' %}" alt="加载中。。。">
      </div>
  </div>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="center-block img-rounded img-two"
           src="{% static 'register_one/image/img-02.png' %}" alt="加载中。。。">
      <div class="row2">
          <span class="span-one">注册您的登陆账户</span>
          <span class="span-two">本页面的信息将作为您登陆网站的凭证</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        {% for foo in register_one %}
              <div class="row input-one">
                <div class="col-md-4">{{ foo.label }}</div>
              </div>
              <div class="row">
                <div class="col-md-12 input-two">{{ foo }}</div>
              </div>
              <div class="row">
                <div class="col-md-12 center-block input-three">{{ foo.errors }}</div>
              </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="row input-one">
          <div class="col-md-4">短信验证</div>
        </div>
          <div class="row sms_result">
            <div class="col-md-6"><input onchange="verification_code()" class="sms_code" type="text" name="code_verification"></div>
            <div class="col-md-6 center-block input-three">
              <input class="btn btn-info center-block sms_code_verification" onclick="send_verification_code()" type="button" value="获取验证码">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <input disabled="disabled" class="btn-lg btn-primary center-block result-result" style="width: 80%;display: block;margin: 30px;" type="submit" value="注册">
      </div>
    </div>
</div>
{% csrf_token %}
</form>
<script src="{% static 'sms_modul.js' %}"></script>
</body>
</html>