{% extends 'main_student__templates.html' %}
{% load staticfiles %}

{% block style %}
  <style>
    .middle-all{
      overflow: auto;
      height: 710px;
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block middle_message %}

  <div class="row d5 center-block">
              <div class="col-md-3 d5d1">
                <span>通知:公告</span>
                <span class="d5d3-span-one">星期四</span>
              </div>
            </div>

  <div class="middle-all">

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道4月27日起全校安排放假7天，请所有同学在放假期间注意安全，
          节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

    <div class="row d5 center-block">
      <div class="col-md-2 ">
        <span class="d5d3-span-one">上午 8:30</span>
      </div>
      <div class=" col-md-2">
        <img class="d5-img" src="{% static 'main_student_template/image/3.png' %}" alt="">
      </div>
      <div class="col-md-8 d5d2">
        <div class="row d5d2-one">
          五一调休公告
        </div>
        <div class="row d5d2-two">
          4月27日起全校安排放假7天，请所有同学在放假期间注意安全，节后顺利报道
         </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block right_message %}
  <div class="row d6d1 center-block">
                <span>今日课程</span>
              </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

  <div class="row d6d2">
    <div class="col-md-4">
      <div  class="row"><span class="d6d2-span-one center-block">第一节课</span></div>
    </div>
    <div class="col-md-7">
      <div class="row d6d2-span-two"><span>九零后空巢老人养生及应用</span></div>
      <div class="row d6d2-span-three"><span>第二教学楼 B12</span></div>
    </div>
  </div>

{% endblock %}